/* Color Theme Swatches in Hex */
.XCore-—-Design-for-Trading-Platform-1-hex { color: #3D4073; }
.XCore-—-Design-for-Trading-Platform-2-hex { color: #3D4F73; }
.XCore-—-Design-for-Trading-Platform-3-hex { color: #1A1E26; }
.XCore-—-Design-for-Trading-Platform-4-hex { color: #324359; }
.XCore-—-Design-for-Trading-Platform-5-hex { color: #5ABFA3; }

/* Color Theme Swatches in RGBA */
.XCore-—-Design-for-Trading-Platform-1-rgba { color: rgba(60, 63, 114, 1); }
.XCore-—-Design-for-Trading-Platform-2-rgba { color: rgba(60, 78, 114, 1); }
.XCore-—-Design-for-Trading-Platform-3-rgba { color: rgba(25, 29, 38, 1); }
.XCore-—-Design-for-Trading-Platform-4-rgba { color: rgba(49, 66, 89, 1); }
.XCore-—-Design-for-Trading-Platform-5-rgba { color: rgba(89, 191, 162, 1); }

/* Color Theme Swatches in HSLA */
.XCore-—-Design-for-Trading-Platform-1-hsla { color: hsla(236, 30, 34, 1); }
.XCore-—-Design-for-Trading-Platform-2-hsla { color: hsla(219, 30, 34, 1); }
.XCore-—-Design-for-Trading-Platform-3-hsla { color: hsla(219, 19, 12, 1); }
.XCore-—-Design-for-Trading-Platform-4-hsla { color: hsla(213, 28, 27, 1); }
.XCore-—-Design-for-Trading-Platform-5-hsla { color: hsla(163, 44, 55, 1); }
/* ---------------------------------------------------------------------------------- */

/* Color Theme Swatches in Hex */
.Coinread-User-Interface-1-hex { color: #1D04BF; }
.Coinread-User-Interface-2-hex { color: #15038C; }
.Coinread-User-Interface-3-hex { color: #2E34A6; }
.Coinread-User-Interface-4-hex { color: #CEE1F2; }
.Coinread-User-Interface-5-hex { color: #04D9D9; }

/* Color Theme Swatches in RGBA */
.Coinread-User-Interface-1-rgba { color: rgba(28, 3, 191, 1); }
.Coinread-User-Interface-2-rgba { color: rgba(21, 2, 140, 1); }
.Coinread-User-Interface-3-rgba { color: rgba(46, 52, 165, 1); }
.Coinread-User-Interface-4-rgba { color: rgba(205, 225, 242, 1); }
.Coinread-User-Interface-5-rgba { color: rgba(4, 216, 216, 1); }

/* Color Theme Swatches in HSLA */
.Coinread-User-Interface-1-hsla { color: hsla(247, 96, 38, 1); }
.Coinread-User-Interface-2-hsla { color: hsla(247, 96, 28, 1); }
.Coinread-User-Interface-3-hsla { color: hsla(236, 56, 41, 1); }
.Coinread-User-Interface-4-hsla { color: hsla(208, 58, 87, 1); }
.Coinread-User-Interface-5-hsla { color: hsla(180, 96, 43, 1); }

/* ----------------------------------------------------------------------------------- */
/* Color Theme Swatches in Hex */
.HanaBank-Glassmorphism-Icon-1-hex { color: #0583F2; }
.HanaBank-Glassmorphism-Icon-2-hex { color: #0597F2; }
.HanaBank-Glassmorphism-Icon-3-hex { color: #57B7F2; }
.HanaBank-Glassmorphism-Icon-4-hex { color: #5EC8F2; }
.HanaBank-Glassmorphism-Icon-5-hex { color: #DFEFF2; }

/* Color Theme Swatches in RGBA */
.HanaBank-Glassmorphism-Icon-1-rgba { color: rgba(4, 131, 242, 1); }
.HanaBank-Glassmorphism-Icon-2-rgba { color: rgba(4, 151, 242, 1); }
.HanaBank-Glassmorphism-Icon-3-rgba { color: rgba(87, 182, 242, 1); }
.HanaBank-Glassmorphism-Icon-4-rgba { color: rgba(94, 200, 242, 1); }
.HanaBank-Glassmorphism-Icon-5-rgba { color: rgba(222, 238, 242, 1); }

/* Color Theme Swatches in HSLA */
.HanaBank-Glassmorphism-Icon-1-hsla { color: hsla(208, 96, 48, 1); }
.HanaBank-Glassmorphism-Icon-2-hsla { color: hsla(202, 96, 48, 1); }
.HanaBank-Glassmorphism-Icon-3-hsla { color: hsla(202, 85, 64, 1); }
.HanaBank-Glassmorphism-Icon-4-hsla { color: hsla(196, 85, 66, 1); }
.HanaBank-Glassmorphism-Icon-5-hsla { color: hsla(191, 43, 91, 1); }
